#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

/* Para telas menores, reduz o padding e ajusta a tipografia */
@media (max-width: 756px) {
  #root {
    padding: 1.5rem;
  }
}

@media (max-width: 756px) {
  #root {
    padding: 1rem;
    font-size: 14px;
  }
}
